<section class="people">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Characters</h1>
            </div>
            <div class="col-12" *ngIf="!(isLoading$ | async)"> 
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mass</th>
                            <th>Height</th>
                            <th>Options</th>
                        </tr>                                                                           
                    <tbody>
                        <tr *ngFor="let person of (people$ | async)">
                            <td class="d-none"> {{ person.id }}</td>
                            <td> {{ person.name }}</td>
                            <td> {{ person.mass}}</td>
                            <td> {{ person.height }}</td>
                            <td class="text-center">
                                <span class="option" (click)="edit(person)">
                                    <i class="far fa-edit"></i>
                                </span> | 
                                <span class="option" (click)="delete(person)">
                                    <i class="far fa-window-close"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Average</td>
                            <td> {{ massMaleAvg$ | async }}</td>
                            <td colspan="2">{{ heightMaleAvg$ | async }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12" *ngIf="(isLoading$ | async)">
                <div class="loader text-center">
                    <i class="fas fa-circle-notch fa-spin"></i>
                </div>
            </div>
        </div>
    </div>

</section>
